{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": false
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "comma-dangle": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn", 
      { 
        "aspects": ["invalidHref"] 
      }
    ],
    "jsx-a11y/label-has-for": [
      2, 
      {
        "components": ["Label"],
        "required": {
            "every": ["id"]
        },
        "allowChildren": false
      }
    ]
  }
}