// Form elements
.control-wrap {
  padding: 12px 0;
}

.control-label {
  display: block;
  line-height: $input-height;
}

.form-control {
  @include animate();
  display: block;
  height: $input-height;
  border: 0;
  border-bottom: 1px solid $input-border-color;
  padding: 2px 12px 1px;
  width: 100%;
  background: $input-background-color;
  color: $input-text-color;
  font-size: $input-font-size;

  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $input-placeholder-color;
  }

  &::-moz-placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
  
  &:focus {
    border-bottom: 2px solid $input-border-color-focus;
    padding-bottom: 0;
  }

  &.form-control-error {
    border-bottom: 2px solid $color-error;
    padding-bottom: 0;
  }
}

.switch-label {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  line-height: $switch-line-height;
  
  .switch-control {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: $switch-size;
    height: $switch-size;
    border: 1px solid $input-border-color;
    background: #fff;
    border-radius: 1px;

    &:before {
      @include animate();
      content: '';
      position: absolute;
      top: 20%;
      left: 20%;
      width: 60%;
      height: 60%;
      background: #787878;
      opacity: 0;
    }

    &.on {
      &:before {
        opacity: 1;
      }
    }

    input {
      visibility: hidden;
    }
  }

  .switch-label-text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;  
    
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }
  }
}

// Buttons
.btn-wrap {
  padding: 12px 0 0;
}

.btn {
  display: block;
  line-height: $input-height;
  height: $input-height;
  background: $btn-background-color;
  color: $btn-text-color;
  padding: 0 12px;
  border: 1px solid $btn-border-color; // move color to variables
  text-transform: uppercase;
  cursor: pointer;
  font-size: $input-font-size;

  &[disabled] {
    opacity: .8;
  }

  &.stretch {
    width: 100%;
  }
}

// Messages
.msg {
  line-height: 24px;
  display: block;
  font-size: .9em;

  &-error {
    color: $color-error;
  }
  &-success {
    color: $color-success;
  }
}

.msg-box {
  padding: 4px 12px;
  background: #fff;
  border-left: 3px solid #eee;

  &.msg-error {
    border-color: $color-error;
  }
  &.msg-success {
    border-color: $color-success;
  }
}