$main-red: #e24429;
$color-error: $main-red;
$color-success: #4caf50;
$color-info: #2980b9;

$input-height: 48px;
$input-border-color: #ddd;
$input-border-color-focus: #ccc;
$input-background-color: #fff;
$input-text-color: #464646;
$input-placeholder-color: #bbb;
$input-font-size: 1rem;

$btn-background-color: #e24429;
$btn-border-color: #e24429;
$btn-text-color: #fff;

$switch-line-height: 24px;
$switch-size: 24px;

$header-height: 64px;